.logoImg {
  width: 250px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.loginBox {
  border: 1px solid #e5e5ea;
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: #b1b1b1;
}

.formGroup {
  margin-bottom: 15px;
  label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &::placeholder {
      font-size: 13px;
      line-height: 13px;
    }
  }
}

.buttonBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .primaryButton {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #bababa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #424242;
    }
  }

  .link {
    margin-top: 15px;
    font-size: 14px;

    a {
      color: #444444;
      text-decoration: underline;

      &:hover {
        font-weight: bold;
      }
    }
  }
}
