.todoItem {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}

.loading {
  margin: 10px 0;
}

.todoContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s,
    color 0.3s;

  &.completed {
    background-color: #f0f0f0;
    color: #aaa;
  }
}

.buttonDelete {
  border: none;
  color: black;
  background-color: transparent;
  size: 30px;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.customCheckbox {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;

  .checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked + label {
      margin-right: 20px;
      background-color: #4caf50;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        left: 6px;
        top: 2px;
        width: 6px;
        height: 12px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }

  label {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    transition: background-color 0.3s;
  }
}
